@font-face {
    font-family: "SimplyRounded";
    src: url(./SimplyRounded.ttf);
}

* {
    font-family: "SimplyRounded", sans-serif;
}


.text-custom-blue{
    color: #4472C4;
}

.text-custom-darkblue{
    color: #002060;
}

.text-custom-grey{
    color: rgb(214, 214, 214);
}

.text-custom-darkgrey{
    color: rgb(83, 83, 83);
}

.bg-custom-blue{
    background-color: #4472C4;
}

.bg-custom-grey{
    background-color:#9fadc5;
}


.tel_link:hover {
    cursor: alias;
}

.send_mail:hover {
    cursor: text;
}

.downloadLink:hover {
    color: rgb(83, 83, 83);
}

